<div class="jumbotron">
    <h1>Proyecto Servicios Web</h1>
    <p class="lead">Versiones 1.0 Avance I (En Desarrollo CRUD y REST API)</p>
</div>
<div class="row">
    <h1>Partes del sistema</h1>
    <div class="col-md-4">
        <h2>Consecutivos</h2>
        <p> Tabla de Consecutivos</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seguridad</h2>
        <p>Tabla de Usuarios</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>Bitacora</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Ir &raquo;</a></p>
    </div>
</div>
