@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="bg-info p-4 text-center text-white"><strong><b>Visite distintos Paises Tropicales</b></strong></h2>




<br />

<br />

<br/>





<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <img src="~/Content/icons/330422-international-flags/svg/156-costa-rica.svg" width="150" height="150" alt="Costa Rica" />
            <h2>Costa Rica</h2>
            <br />
        </div>
        <div class="col col-lg-4">
            <img src="~/Content/icons/330422-international-flags/svg/255-brazil.svg" width="150" height="150" alt="Brazil" />
            <h2>Brazil</h2>
            <br />
        </div>
        <div class="col-md-auto">
            <img src="~/Content/icons/330422-international-flags/svg/252-mexico.svg" width="150" height="150" alt="Mexico" />
            <h2>Mexico</h2>
            <br />
        </div>
    </div>
</div>




<br />

<br />

<br />



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <img src="~/Content/Img/puerto-viejo-4048875_960_720.jpg" width="170" height="150" alt="Puerto Viejo" />
            <h2>Puerto Viejo</h2>
            <br />
        </div>
        <div class="col col-lg-4">
            <img src="~/Content/Img/rio-de-janeiro-1963744__340.jpg" width="150" height="150" alt="Rio de Janeiro" />

            <h2>Rio de Janeiro</h2>
            <br />
        </div>
        <div class="col-md-auto">
            <img src="~/Content/Img/cancun-1235489_1920.jpg" width="150" height="150" alt="Cancun" />
            <h2>Cancun</h2>
            <br />
        </div>
    </div>
</div>




