@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ProyectoV_Vuelos.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}



<div id="body" class="help-page">

    <center>
    <a class="btn btn-default border" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>
    </center>

    <br />


    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            <center>
                @Html.DisplayFor(m => group, "ApiGroup")
                <br />
                <hr />
            </center>
        }
    </section>
</div>
